
@import "./button.css";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

.h-screen-with


:root {
  --color-primary: config('colors.black');
  --color-secondary: config('colors.orange');
}

body {
  background: var(--color-primary);
}

#__next {
  height: config('height.screen');
}

/* height related utilities */
/* screen with toolbar */
@responsive {
  .h-swt {
    height: calc(config('height.screen') - config('height.12'));
  }
}

@responsive {
  .h-cwt {
    height: calc(config('height.full') - config('height.12'));
  }
}