
@import "./button.css";

@tailwind preflight;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: config('colors.black');
  --color-secondary: config('colors.orange');
}

body {
  background: var(--color-primary);
}